<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
  <title>Communication System</title>
</head>

<body>
  <div class="main">
    <!-- PART 1 START -->
    <div class="ellipse"></div>
    <div class="video">

      <h1 class="title-txt">
        Communication System <br />for Locked-in Syndrome (LIS) Patients
      </h1>
      <div class="video-div"></div>

    </div>

    <!-- PART 1 END -->

    <!-- PART 2 START -->
    <div class="instruction">
      <div class="three ins-box">
        <p>
          Blink Three (3) Times <br /><span style="font-size: 17px">TO TRIGGER MESSAGE</span><br />
          <span style="color: green; font-size: 15px">HELP ME!</span>
        </p>
      </div>
      <div class="four ins-box">
        <p>
          Blink Three (4) Times <br /><span style="font-size: 17px">TO TRIGGER MESSAGE</span><br />
          <span style="color: green; font-size: 15px">HELP ME!</span>
        </p>
      </div>
      <div class="five ins-box">
        <p>
          Blink Three (5) Times <br /><span style="font-size: 17px">TO TRIGGER MESSAGE</span><br />
          <span style="color: green; font-size: 15px">HELP ME!</span>
        </p>
      </div>
    </div>
    <!-- PART 2 END -->

    <!-- PART 3 START -->
    <div class="emergency">
      <div class="emg emg-box">
        <p>In case of <br>EMERGENCY</p>
      </div>
      <div class="activate">
        <p>Hold the Blink at 3 <br> for more than <span>4sec</span> to <br><span
            style="color: green;font-size: 24px;">Activate <br>Voice Alarm</span> </ps>
      </div>
      <div class="dev">
        <p>Developed by <br>Rishi R</p>
      </div>
    </div>
    <!-- PART 3 END -->
  </div>
</body>

</html>